<div class="flex justify-center">
  <button
    class="bg-primary rounded-lg justify-self-end m-2 mr-5 flex items-center"
    (click)="addCar.openModal()">
    <span
      class="material-symbols-outlined"
      style="color: white; font-size: 2rem; vertical-align: middle">
      add
    </span>
    <p class="text-white p-2">Add</p>
  </button>
</div>
<div
  *ngIf="fleetData$ | async as fleetData"
  class="m-2 sm:m-4 bg-foreground rounded-lg">
  <table
    class="border-collapse table-auto w-full text-white text-sm sm:text-base text-left">
    <thead>
      <tr>
        <th class="p-2 sm:p-4 sm:pb-2 font-heading font-medium text-xl">VIN</th>
        <th class="p-2 sm:p-4 sm:pb-2 font-heading font-medium text-xl">
          Brand
        </th>
        <th class="p-2 sm:p-4 sm:pb-2 font-heading font-medium text-xl">
          Model
        </th>
        <th
          class="p-2 sm:p-4 sm:pb-2 font-heading font-medium text-xl hidden sm:block">
          Production Date
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of fleetData" class="border-t border-secondary">
        <td class="p-2 sm:p-4 sm:pb-2">{{ car.vin }}</td>
        <td class="p-2 sm:p-4 sm:pb-2">{{ car.brand }}</td>
        <td class="p-2 sm:p-4 sm:pb-2">{{ car.model }}</td>
        <td class="p-2 sm:p-4 sm:pb-2 max-[640]:hidden">
          {{ car.productionDate }}
        </td>
        <td class="p-2 sm:pt-4 sm:pb-2">
          <div class="sm:pr-2 flex justify-end">
            <button
              (click)="removeCar.openModal(car.vin)"
              class="p-1 bg-warning rounded-lg flex items-center">
              <img src="assets/icons/trash.svg" style="height: 20px" /><span
                class="text-black hidden sm:block"
                >Delete</span
              >
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-remove-car-modal #removeCar></app-remove-car-modal>
<app-add-car-modal #addCar></app-add-car-modal>

<!-- if error messages are wanted for the whole app move this into app component -->
<app-error-message-modal></app-error-message-modal>
