<div *ngIf="car" class="grid-layout max-w-5xl">
  <div class="flex gap-4 flex-col">
    <app-dynamic-data-card [car]="car"></app-dynamic-data-card>
    <div *ngIf="car.rental" class="card items-center text-white">
      <div class="text-2xl">Next Rental</div>
      <table class="mt-2">
        <tr>
          <td class="pr-2 align-top">
            <span
              class="material-symbols-outlined mb-1"
              style="color: white; font-size: 1.5rem; vertical-align: middle">
              schedule
            </span>
          </td>
          <td class="align-top pr-8">Period</td>
          <td class="text-base">
            {{
              car.rental.rentalPeriod.startDate | date : "dd.MM.yyyy HH:mm"
            }}–{{ car.rental.rentalPeriod.endDate | date : "dd.MM.yyyy HH:mm" }}
          </td>
        </tr>

        <tr>
          <td class="pr-2">
            <span
              class="material-symbols-outlined mb-1"
              style="color: white; font-size: 1.5rem; vertical-align: middle">
              person
            </span>
          </td>
          <td class="pr-8">Customer</td>
          <td>
            {{ car.rental.customer.customerId }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <app-static-data-card [car]="car"></app-static-data-card>
</div>
