<app-modal [modalId]="modalId">
  <div class="flex flex-1 flex-col sm:w-96 m-5 space-y-6">
    <div class="flex flex-row items-center justify-center relative">
      <p class="text-2xl self-center text-center">
        <img
          class="absolute h-full -translate-x-[120%] p-0.5"
          src="assets/attention.svg" />
        Remove Car from Fleet
      </p>
    </div>
    <p class="text-md self-center text-center">
      Are you sure you want to remove the car with VIN "{{ vinToDelete }}" from
      the fleet?
    </p>
    <p *ngIf="errorMessage" class="text-sm text-warning">
      {{ errorMessage }}
    </p>
    <div class="flex flex-row justify-between">
      <button
        (click)="closeModal()"
        [disabled]="loading"
        class="bg-modalsecondary py-1 w-24 sm:w-32 rounded-lg shadow-md shadow-gray-800">
        Cancel
      </button>
      <button
        (click)="remove()"
        class="bg-primary py-1 w-24 sm:w-32 rounded-lg shadow-md shadow-gray-800"
        [disabled]="loading">
        Remove
      </button>
    </div>
  </div>
</app-modal>
