<div *ngIf="navbarState$ | async as state" class="flex justify-center">
  <div *ngIf="state.backButtonPath; else name" class="flex-1 flex">
    <button (click)="navigateBack(state.backButtonPath)">
      <span
        class="material-symbols-outlined p-2"
        style="color: white; font-size: 2.25rem; vertical-align: middle">
        arrow_back
      </span>
    </button>
  </div>
  <ng-template #name>
    <div class="flex-1 flex">
      <img src="/assets/icons/logo.png" class="h-8 m-2" />
      <div class="hidden md:block text-white text-3xl pt-2">CCSApp</div>
    </div>
  </ng-template>
  <div class="flex items-center">
    <div *ngIf="state.titleIconPath">
      <img [src]="state.titleIconPath" class="h-8 m-2" />
    </div>
    <div
      class="text-white sm:text-3xl text-xl py-2 sm:px-2 max-w-xxs sm:max-w-xs md:max-w-none whitespace-nowrap overflow-hidden text-ellipsis">
      {{ state.title }}
    </div>
  </div>
  <!-- this pseudo element is responsible for centering the title -->
  <div class="flex-1 flex justify-end">
    <button *ngIf="loggedIn$ | async" (click)="logout()">
      <span
        class="material-symbols-outlined p-2"
        style="color: white; font-size: 2.25rem; vertical-align: middle">
        logout
      </span>
    </button>
  </div>
</div>
<div class="h-1 bg-primary mb-6"></div>
