<div class="card items-center">
  <div class="text-white text-2xl">About the Car</div>

  <table class="text-white mt-2">
    <tr>
      <td class="flex flex-nowrap pr-4">
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          tag
        </span>
        <div>Vehicle Identification Number</div>
      </td>
      <td class="pl-1 align-top text-sm sm:text-base">{{ car.vin }}</td>
    </tr>

    <tr>
      <td class="flex flex-nowrap pr-4">
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          pin_drop
        </span>
        <div>Position (Latitude/Longitude)</div>
      </td>
      <td class="pl-1 align-top">
        <a class="underline" [href]="locationLink">
          {{ car.dynamicData.position.latitude }},
          {{ car.dynamicData.position.longitude }}
          <span
            class="material-symbols-outlined mb-1"
            style="color: white; font-size: 1rem; vertical-align: middle">
            open_in_new
          </span>
        </a>
      </td>
    </tr>

    <tr>
      <td class="mr-4">
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          speed
        </span>
        Fuel Level
      </td>
      <td class="pl-1">{{ car.dynamicData.fuelLevelPercentage }} %</td>
    </tr>

    <tr>
      <td class="mr-4">
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock
        </span>
        Trunk Lock State
      </td>
      <td>
        <span
          *ngIf="car.dynamicData.trunkLockState === 'LOCKED'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock
        </span>
        <span
          *ngIf="car.dynamicData.trunkLockState === 'UNLOCKED'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock_open
        </span>

        {{ capitilizeWord(car.dynamicData.trunkLockState) }}
      </td>
    </tr>

    <tr>
      <td class="mr-4">
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          key
        </span>
        Doors Lock State
      </td>
      <td>
        <span
          *ngIf="car.dynamicData.doorsLockState === 'LOCKED'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock
        </span>
        <span
          *ngIf="car.dynamicData.doorsLockState === 'UNLOCKED'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock_open
        </span>

        {{ capitilizeWord(car.dynamicData.doorsLockState) }}
      </td>
    </tr>

    <tr>
      <td class="mr-4">
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          power_settings_new
        </span>
        Engine State
      </td>
      <td>
        <span
          *ngIf="car.dynamicData.engineState === 'ON'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          toggle_on
        </span>
        <span
          *ngIf="car.dynamicData.engineState === 'OFF'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          toggle_off
        </span>

        {{ capitilizeWord(car.dynamicData.engineState) }}
      </td>
    </tr>
  </table>
</div>
