<div class="card items-center">
  <div class="text-white text-2xl">About the Car</div>

  <table class="text-white mt-2 text-sm sm:text-base">
    <tr>
      <td class="align-top pr-2">
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          tag
        </span>
      </td>
      <td class="pr-4">Vehicle Identification Number</td>
      <td class="pl-1 align-top text-sm sm:text-base">{{ car.vin }}</td>
    </tr>

    <tr>
      <td class="align-top">
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          pin_drop
        </span>
      </td>
      <td class="pr-4">Position (Latitude/Longitude)</td>
      <td class="pl-1 align-top">
        <a class="underline" [href]="locationLink" target="_blank">
          {{ car.dynamicData.position.latitude }},
          {{ car.dynamicData.position.longitude }}
          <span
            class="material-symbols-outlined mb-1"
            style="color: white; font-size: 1rem; vertical-align: middle">
            open_in_new
          </span>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          speed
        </span>
      </td>
      <td class="mr-4">Fuel Level</td>
      <td class="pl-1">{{ car.dynamicData.fuelLevelPercentage }} %</td>
    </tr>

    <tr>
      <td>
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock
        </span>
      </td>
      <td class="mr-4">Trunk Lock State</td>
      <td>
        <span
          *ngIf="car.dynamicData.trunkLockState === 'LOCKED'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock
        </span>
        <span
          *ngIf="car.dynamicData.trunkLockState === 'UNLOCKED'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock_open
        </span>

        {{ capitilizeWord(car.dynamicData.trunkLockState) }}
      </td>
    </tr>

    <tr>
      <td>
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          key
        </span>
      </td>
      <td class="mr-4">Doors Lock State</td>
      <td>
        <span
          *ngIf="car.dynamicData.doorsLockState === 'LOCKED'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock
        </span>
        <span
          *ngIf="car.dynamicData.doorsLockState === 'UNLOCKED'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          lock_open
        </span>

        {{ capitilizeWord(car.dynamicData.doorsLockState) }}
      </td>
    </tr>

    <tr>
      <td>
        <span
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          power_settings_new
        </span>
      </td>
      <td class="mr-4">Engine State</td>
      <td>
        <span
          *ngIf="car.dynamicData.engineState === 'ON'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          toggle_on
        </span>
        <span
          *ngIf="car.dynamicData.engineState === 'OFF'"
          class="material-symbols-outlined mb-1"
          style="color: white; font-size: 1.5rem; vertical-align: middle">
          toggle_off
        </span>

        {{ capitilizeWord(car.dynamicData.engineState) }}
      </td>
    </tr>
  </table>
</div>
