<!-- all divs with an animation need the ngIf in order to trigger the animation -->

<div
  *ngIf="toasts.length"
  class="fixed bottom-0 left-1/2 -translate-x-1/2 bg-toastBg bg-opacity-50 rounded-t-lg">
  <div *ngFor="let toast of toasts" class="w-80 sm:w-96">
    <div
      *ngIf="toast.message"
      [@show]
      class="flex justify-between gap-4 p-2 px-4">
      <div
        class="self-center overflow-hidden whitespace-nowrap text-white text-lg text-ellipsis">
        {{ toast.message }}
      </div>

      <button
        *ngIf="toast.action"
        class="flex align-middle justify-center bg-secondary rounded-lg p-2 text-white"
        (click)="toast.action(); handleClick(toast)">
        Undo
        <span class="material-symbols-outlined"> undo </span>
      </button>
    </div>
    <div class="grid">
      <div
        class="col-start-1 row-start-1 bg-gradient-to-r from-transparent to-sliderBg opacity-50 h-1"></div>
      <div
        *ngIf="toast.message"
        id="loading-bar"
        [@loading]
        class="col-start-1 row-start-1 bg-sliderBg h-1"></div>
    </div>
  </div>
</div>
